@charset "UTF-8";

@font-face {
  font-family: Helvetica;
  font-display: swap;
  src: url("../fonts/helvetica_bold.woff2") format("woff2"), url("../fonts/helvetica_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Helvetica;
  font-display: swap;
  src: url("../fonts/helvetica_light.woff2") format("woff2"), url("../fonts/helvetica_light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Helvetica;
  font-display: swap;
  src: url("../fonts/helvetica_regular.woff2") format("woff2"), url("../fonts/helvetica_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 755px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Helvetica";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Helvetica";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 3.75rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title-block__title {
  font-size: 2.125rem;
  margin-bottom: 0.375rem;
}

@supports (font-size: clamp( 0.9375rem , 2.672462406rem  +  -1.954887218vw , 1.75rem )) {
  .title-block__text {
    font-size: clamp( 0.9375rem , 2.672462406rem  +  -1.954887218vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 2.672462406rem  +  -1.954887218vw , 1.75rem )) {
  .title-block__text {
    font-size: calc(1.75rem + -0.8125 * (100vw - 47.1875rem) / 41.5625);
  }
}

.swiper-pagination,
.events-pagination {
  display: none;
}

.button {
  display: inline-block;
  border: 1px solid #ffffff;
  padding: 1.125rem 2.8125rem;
  font-weight: 700;
  font-size: 1.125rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header._header-scroll {
  top: -150%;
}

.header._header-show {
  top: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__container {
  padding: 0 0.9375rem;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  padding-right: 3.125rem;
  -webkit-transform: translate(0px, 0.9375rem);
      -ms-transform: translate(0px, 0.9375rem);
          transform: translate(0px, 0.9375rem);
  position: relative;
}

.header__logo::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  height: 4.4375rem;
  width: 0.125rem;
  background-color: #000000;
  opacity: 0.2;
}

.header__logo-mobile {
  display: none;
}

.header__menu {
  padding-left: 3.125rem;
  font-size: 1.1875rem;
  line-height: 1.1268421053;
}

@supports (padding-right: clamp( 0.0000000625rem , -1.206296859rem  +  2.5563908271vw , 1.0625rem )) {
  .header__menu {
    padding-right: clamp( 0.0000000625rem , -1.206296859rem  +  2.5563908271vw , 1.0625rem );
  }
}

@supports not (padding-right: clamp( 0.0000000625rem , -1.206296859rem  +  2.5563908271vw , 1.0625rem )) {
  .header__menu {
    padding-right: calc(0.0000000625rem + 1.0624999375 * (100vw - 47.1875rem) / 41.5625);
  }
}

.header__underline {
  height: 1.375rem;
  background-color: #001254;
}

.menu__title {
  display: none;
}

.icon-menu {
  display: none;
}

.footer {
  padding-top: 2.1875rem;
  padding-bottom: 2.1875rem;
  background-color: #707070;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  color: #ffffff;
  line-height: 1.2;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-title {
  margin-right: 0.625rem;
}

.footer__social-link:not(:last-child) {
  margin-right: 0.75rem;
}

.footer__mobile {
  display: none;
}

.mobile-footer {
  font-size: 1.5rem;
  color: #707070;
  font-weight: 700;
}

.mobile-footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.875rem;
     -moz-column-gap: 0.875rem;
          column-gap: 0.875rem;
  margin-bottom: 1.875rem;
}

.mobile-footer__item {
  background-color: #eaecee;
  padding: 1.875rem;
  text-align: center;
  width: 100%;
}

.mobile-footer__title {
  font-weight: 400;
  color: #193989;
  text-align: center;
  padding-bottom: 0.875rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
}

.mobile-footer__list .mobile-footer__item:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.page {
  padding-top: 10.75rem;
}

.banner {
  position: relative;
  z-index: 1;
}

.banner__image,
.banner__gradient {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.banner__image img,
.banner__gradient img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner__body {
  padding-top: 8.4375rem;
  padding-bottom: 8.4375rem;
  position: relative;
  z-index: 2;
  color: #fff;
}

.banner__label {
  display: none;
}

.banner__title {
  font-weight: 700;
  font-size: 3.125rem;
  margin-bottom: 1.4375rem;
}

.banner__title span {
  display: block;
}

@supports (font-size: clamp( 1.75rem , 0.1889097744rem  +  3.3082706767vw , 3.125rem )) {
  .banner__title span {
    font-size: clamp( 1.75rem , 0.1889097744rem  +  3.3082706767vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 0.1889097744rem  +  3.3082706767vw , 3.125rem )) {
  .banner__title span {
    font-size: calc(1.75rem + 1.375 * (100vw - 47.1875rem) / 41.5625);
  }
}

.banner__text {
  font-weight: 300;
  line-height: 1.2480555556;
  opacity: 0.75;
}

@supports (font-size: clamp( 1.75rem , 1.1823308271rem  +  1.2030075188vw , 2.25rem )) {
  .banner__text {
    font-size: clamp( 1.75rem , 1.1823308271rem  +  1.2030075188vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 1.1823308271rem  +  1.2030075188vw , 2.25rem )) {
  .banner__text {
    font-size: calc(1.75rem + 0.5 * (100vw - 47.1875rem) / 41.5625);
  }
}

.insights {
  background-color: #ebebeb;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.insights__title {
  margin-bottom: 1.25rem;
}

.insights__slide {
  -webkit-box-shadow: -3px 2px 3px 1px rgba(0, 0, 0, 0.1), 0 0 9px 1px rgba(0, 0, 0, 0.1);
          box-shadow: -3px 2px 3px 1px rgba(0, 0, 0, 0.1), 0 0 9px 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.slide-insights__1 .slide-insights__underline {
  background-color: #1450d2;
}

.slide-insights__1 .slide-insights__title {
  color: #1450d2;
}

.slide-insights__body {
  padding: 1.5625rem 1.5625rem 0.9375rem;
}

.slide-insights__img {
  display: block;
  margin-bottom: 1.5625rem;
  position: relative;
}

.no-webp .slide-insights__img::before{
  background: url("../img/insights/triangel.png") 0 0/cover no-repeat; }

.slide-insights__img::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: -0.1875rem;
  top: -0.125rem;
  width: 27%;
  height: 36%;
}

.no-webp .slide-insights__img::after{
  background: url("../img/insights/triangel.png") 0 0/cover no-repeat; }

.slide-insights__img::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: -0.125rem;
  bottom: -0.125rem;
  width: 27%;
  height: 36%;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.slide-insights__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-insights__title {
  font-size: 2.1875rem;
  font-weight: 700;
}

.slide-insights__underline {
  min-height: 0.75rem;
}

.slide-insights__2 .slide-insights__underline {
  background-color: #01a49c;
}

.slide-insights__2 .slide-insights__title {
  color: #01a49c;
}

.slide-insights__3 .slide-insights__underline {
  background-color: #009bfa;
}

.slide-insights__3 .slide-insights__title {
  color: #009bfa;
}

.no-webp .connect{
  background: url("../img/contact/bg.png") 0 0/cover no-repeat; }

.connect {
  background-color: #1450d2 !important;
}

.no-webp .connect__top{
  background: url("../img/contact/top-line.png") 0 0 no-repeat; }

.connect__top {
  height: 1.5rem;
}

.connect__body {
  padding: 4.6875rem 0;
  text-align: center;
  color: #f7f7f7;
  text-shadow: -3px 2px 3px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2);
}

.connect__title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.3;
  margin-bottom: 0.625rem;
}

.connect__text {
  font-size: 1.5rem;
  line-height: 1.375;
  margin-bottom: 3.125rem;
}

.no-webp .connect__bottom{
  background: url("../img/contact/bttm-line.png") 0 0 no-repeat; }

.connect__bottom {
  height: 1.5rem;
}

.events {
  padding-top: 3.125rem;
  background-color: #ebebeb;
}

@supports (padding-bottom: clamp( 1.625rem , -3.6259398496rem  +  11.1278195489vw , 6.25rem )) {
  .events {
    padding-bottom: clamp( 1.625rem , -3.6259398496rem  +  11.1278195489vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.625rem , -3.6259398496rem  +  11.1278195489vw , 6.25rem )) {
  .events {
    padding-bottom: calc(1.625rem + 4.625 * (100vw - 47.1875rem) / 41.5625);
  }
}

.events__title {
  margin-bottom: 2.3125rem;
}

.events__slider {
  padding-top: 1.1875rem;
}

.events__slide {
  height: 100%;
}

.events__logo {
  display: none;
}

.slide-events__body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1450d2;
  padding: 5.625rem 1.5rem 0 1.5rem;
  color: #f7f7f7;
  position: relative;
}

.slide-events__body::before {
  content: "";
  position: absolute;
  left: 0.3125rem;
  top: -0.625rem;
  width: 0;
  height: 0;
  border-left: 0.9375rem solid transparent;
  border-right: 0.9375rem solid transparent;
  border-bottom: 0.9375rem solid #3b4e96;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.no-webp .slide-events__body::after{
  background: url("../img/events/gradient.png") 0 0/cover no-repeat; }

.slide-events__body::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4.75rem;
}

.slide-events__date {
  position: absolute;
  left: 1.5625rem;
  top: -1.25rem;
  background-color: #001254;
  width: 5.8125rem;
  height: 5.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}

.slide-events__date-month {
  font-size: 1rem;
}

.slide-events__date-num {
  font-weight: 700;
  font-size: 2.25rem;
}

.slide-events__title {
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 0.25rem;
}

.slide-events__text {
  font-size: 0.9375rem;
  margin-bottom: 1.3125rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.slide-events__button {
  padding: 1rem 1.3125rem;
  margin-bottom: 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.no-webp .slide-events__city{
  background: url("../img/events/ascent.png") 0 0/cover no-repeat; }

.slide-events__city {
  padding: 0.8125rem 1.4375rem;
  text-align: right;
  font-weight: 700;
  font-size: 1.5rem;
  margin-right: -1.5625rem;
  color: #000;
  position: relative;
  z-index: 2;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .header__menu {
    width: 100%;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__item:not(:last-child) {
    margin-right: 0.625rem;
  }
}

@media (min-width: 61.99875em) {
  .header__menu {
    padding-bottom: 1.3125rem;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

@media (max-width: 84.375em) {
  .events__slider {
    overflow: visible !important;
    position: relative;
  }

  .events__slider::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #ebebeb;
    -webkit-transform: translate(-101%, -2%);
        -ms-transform: translate(-101%, -2%);
            transform: translate(-101%, -2%);
    width: 100vw;
    height: 105%;
  }
}

@media (max-width: 71.875em) {
  .insights__slider {
    overflow: visible !important;
    position: relative;
  }

  .insights__slider::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #ebebeb;
    -webkit-transform: translate(-101%, -2%);
        -ms-transform: translate(-101%, -2%);
            transform: translate(-101%, -2%);
    width: 100vw;
    height: 105%;
  }
}

@media (max-width: 71.875em) and (max-width: 47.99875em) {
  .insights__slider::before {
    background-color: #001a7a;
  }
}

@media (max-width: 61.99875em) {
  .header__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
  }

  .header__logo {
    display: none;
  }

  .header__logo-mobile {
    display: block;
  }

  .page {
    padding-top: 7.625rem;
  }

  .banner__image img,
  .banner__gradient img {
    width: unset;
    height: 100%;
  }

  .banner__body {
    padding-top: 4.0625rem;
    padding-bottom: 16.25rem;
  }

  .banner__label {
    display: block;
    font-size: 1.75rem;
    margin-bottom: 9.625rem;
  }

  .banner__title {
    max-width: 22.5rem;
  }
}

@media (max-width: 47.99875em) {
  .title-block__title {
    font-weight: 300;
  }

  .title-block__title span {
    font-weight: 700;
  }

  .swiper-pagination,
  .events-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1.875rem;
  }

  .swiper-pagination .swiper-pagination-bullet,
  .events-pagination .swiper-pagination-bullet {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1rem;
            flex: 0 0 1rem;
    height: 1rem;
    border: 1px solid #c2c2c2;
    border-radius: 50%;
  }

  .swiper-pagination .swiper-pagination-bullet:not(:last-child),
  .events-pagination .swiper-pagination-bullet:not(:last-child) {
    margin-right: 0.625rem;
  }

  .swiper-pagination .swiper-pagination-bullet-active,
  .events-pagination .swiper-pagination-bullet-active {
    background-color: #b7b7b7;
  }

  .header {
    background-color: #eaecee;
  }

  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__logo-mobile {
    margin-left: 50%;
    -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    position: relative;
    z-index: 6;
  }

  .header__underline {
    display: none;
  }

  .menu__title {
    color: #193989;
    display: block;
    text-align: center;
    padding-bottom: 0.875rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 0.9375rem;
  }

  .menu__body {
    background-color: #fff;
    font-size: 1.5rem;
    padding: 7.75rem 3.75rem 5.625rem;
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 6.25rem;
    background-color: #eaecee;
  }

  .menu-open .menu__body {
    opacity: 1;
    visibility: visible;
    right: 0;
  }

  .menu__item {
    margin-bottom: 0.9375rem;
    color: #707070;
    background-color: #ebebeb;
    padding: 1.875rem;
    text-align: center;
  }

  .icon-menu {
    margin-right: 3.9375rem;
    display: block;
    position: relative;
    width: 2.4375rem;
    height: 2.0625rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.375rem;
    background-color: #193989;
    border-radius: 0.1875rem;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.125rem);
  }

  .menu-open .icon-menu span {
    width: 0;
    background-color: #d81e05;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.1875rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #d81e05;
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.1875rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #d81e05;
  }

  .footer {
    padding-top: 1.875rem;
    padding-bottom: 3.75rem;
    background-color: rgba(183, 183, 183, 0.7);
  }

  .footer__body {
    display: none;
  }

  .footer__mobile {
    display: block;
  }

  .page {
    padding-top: 6.25rem;
  }

  .banner__title span {
    font-weight: 300;
    margin-bottom: 0.9375rem;
  }

  .insights {
    background-color: #001a7a;
  }

  .insights__title {
    color: #fff;
  }

  .insights__slider .swiper-slide {
    -webkit-transform: scale(0.9) translateY(-5.5%);
        -ms-transform: scale(0.9) translateY(-5.5%);
            transform: scale(0.9) translateY(-5.5%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .insights__slider .swiper-slide-active {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .events__slider .swiper-slide {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .events__slider .swiper-slide-active {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .events__logo {
    display: block;
    margin-top: 4.3125rem;
    text-align: center;
  }

  .slide-events__title {
    font-size: 2.5rem;
  }

  .slide-events__text {
    font-size: 1.75rem;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #1450d2;
  }

  .menu__link:hover {
    text-decoration: underline;
  }

  .slide-events__button:hover {
    background-color: #001a7a;
  }
}

.webp .slide-insights__img::before{ background: url(../img/insights/triangel.webp) 0 0/cover no-repeat; }

.webp .slide-insights__img::after{ background: url(../img/insights/triangel.webp) 0 0/cover no-repeat; }

.webp .connect{ background: url(../img/contact/bg.webp) 0 0/cover no-repeat; }

.webp .connect__top{ background: url(../img/contact/top-line.webp) 0 0 no-repeat; }

.webp .connect__bottom{ background: url(../img/contact/bttm-line.webp) 0 0 no-repeat; }

.webp .slide-events__body::after{ background: url(../img/events/gradient.webp) 0 0/cover no-repeat; }

.webp .slide-events__city{ background: url(../img/events/ascent.webp) 0 0/cover no-repeat; }